*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}

a{
	color: #000;
}
a:hover{
	color: #000;
}

.wrapper {
	min-height: 100vh;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	background-color: #e7e7e7;
}
.container{
	width: 80%;
	margin: 0px auto;
}
@media(max-width: 1200px){
    .container{
        width: 100%;
    }
}
#root{
	min-height: 100%;
}
/* .App{
	min-height: 100%;
	display: flex;
	flex-direction: column;
} */
.wrapper{
	min-height: 100vh;
	justify-content: space-between;
	display: flex;
	flex-direction: column;
}