<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bebra</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="./../../styles/main.css">
</head>
<body>
    <div class="footer">
        <div class="logo_social">
            <img src="./../../img/Group.svg" alt="f">
            <div class="social">
                <img src="../../img/Frame 215.svg" alt="#">
                <img src="../../img/Frame 215.svg" alt="#">
            </div>
        </div>
        <div class="contact_info">
            <div class="footer_links">
                <div class="contact_phone links">
                    <img src="./../../img/phone.svg" alt="#">
                    <a href="/#">+38 050 123 45 67</a>
                 </div>
                 <div class="contact_mail links">
                    <img src="./../../img/mail.svg" alt="#">
                    <a href="/#">sotsium@gmail.com</a>
                 </div>
                 <div class="contact_geo links">
                    <img src="./../../img/location.svg" alt="#">
                    <a href="/#">Kyiv, Ukraine</a>
                 </div>
            </div>
            <div class="sots">
                SOTSIUM ⓒ 2024
            </div>
        </div>
    </div>
</body>
</html>